$color-primary: hsl(355, 80%, 50%); /*hex E51A2B*/
$color-secondary: hsl(0, 0%, 89%); /*hex E3E3E3*/
$color-accent: hsl(73, 58%, 52%); /*hex ADCC3E*/
$color-warning:hsl(44, 88%, 64%); /*hex F4C951*/
$color-succes: hsl(134, 54%, 56%); /*hex #54cc70*/
$color-info: hsl(180, 47%, 52%); /*hex #4cbfbf*/
$color-danger: hsl(353, 72%, 53%); /*hex #dd3146*/

/*variaciones*/
$color-primary-variation-dark-1: hsl(357, 77%, 5%); /*hex 170304*/
$color-primary-variation-dark-2: hsl(354, 80%, 10%); /*hex 2e0509*/
$color-primary-variation-dark-3: hsl(355, 79%, 15%); /*hex 45080d*/
$color-primary-variation-dark-4: hsl(355, 80%, 20%); /*hex 5c0a11*/
$color-primary-variation-dark-5: hsl(353, 80%, 25%); /*hex 730d16*/
$color-primary-variation-dark-6: hsl(353, 79%, 30%); /*hex 89101a*/
$color-primary-variation-dark-7: hsl(353, 80%, 35%); /*hex a0121e*/
$color-primary-variation-dark-8: hsl(353, 79%, 40%); /*hex b71522*/
$color-primary-variation-dark-9: hsl(353, 80%, 45%); /*hex ce1727*/
$color-primary-variation-dark-10: hsl(353, 80%, 50%); /*hex e51a2b*/

$color-primary-variation-clear-1: hsl(355, 80%, 50%); /*hex e51a2b*/
$color-primary-variation-clear-2: hsl(355, 80%, 55%); /*hex e83140*/
$color-primary-variation-clear-3: hsl(353, 79%, 60%); /*hex ea4855*/
$color-primary-variation-clear-4: hsl(353, 80%, 65%); /*hex ed5f6b*/
$color-primary-variation-clear-5: hsl(353, 79%, 70%); /*hex ef7680*/

$color-secondary-variation-dark-1: hsl(0, 0%, 9%); /*hex 171717*/
$color-secondary-variation-dark-2: hsl(0, 0%, 18%); /*hex 2d2d2d*/
$color-secondary-variation-dark-3: hsl(0, 0%, 27%); /*hex 444444*/
$color-secondary-variation-dark-4: hsl(0, 0%, 36%); /*hex 5b5b5b*/
$color-secondary-variation-dark-5: hsl(0, 0%, 45%); /*hex 727272*/

$color-secondary-variation-clear-1: hsl(0, 0%, 89%); /*hex e3e3e3*/
$color-secondary-variation-clear-2: hsl(0, 0%, 80%); /*hex cccccc*/
$color-secondary-variation-clear-3: hsl(0, 0%, 71%); /*hex b6b6b6*/
$color-secondary-variation-clear-4: hsl(0, 0%, 62%); /*hex 9f9f9f*/
$color-secondary-variation-clear-5: hsl(0, 0%, 53%); /*hex 888888*/

$color-secondary-variation-2-clear-1: hsl(0, 0%, 90%); /*hex e6e6e6*/
$color-secondary-variation-2-clear-2: hsl(0, 0%, 91%); /*hex e9e9e9*/
$color-secondary-variation-2-clear-3: hsl(0, 0%, 92%); /*hex ebebeb*/
$color-secondary-variation-2-clear-4: hsl(0, 0%, 93%); /*hex eeeeee*/
$color-secondary-variation-2-clear-5: hsl(0, 0%, 95%); /*hex f1f1f1*/
$color-secondary-variation-2-clear-6: hsl(0, 0%, 96%); /*hex f4f4f4*/
$color-secondary-variation-2-clear-7: hsl(0, 0%, 97%); /*hex f7f7f7*/
$color-secondary-variation-2-clear-8: hsl(0, 0%, 98%); /*hex f9f9f9*/
$color-secondary-variation-2-clear-9: hsl(0, 0%, 99%); /*hex fcfcfc*/

$color-accent-variation-dark-1:#687a25;
$color-accent-variation-dark-2:#798f2b;
$color-accent-variation-dark-3:#8aa332;
$color-accent-variation-dark-4:#9cb838;
$color-accent-variation-dark-5:#adcc3e;

$color-background-login: hsl(0, 0%, 98%); /*hex FCFCFC*/
$color-background-nav: $color-secondary-variation-dark-1;

$color-font-title: $color-secondary-variation-dark-4;
$color-font-content: hsl(0, 0%, 9%); /*hex 171717*/
$color-font-label: $color-secondary-variation-dark-4;

$color-message-succes: $color-succes;
$color-message-info:  $color-info;
$color-message-warning:  $color-warning;
$color-message-danger:  $color-danger;
$color-font-message-succes: #fff;

$color-input-invalid: $color-primary;

$color-background-input-filter-dropdown: hsl(210, 17%, 98%); /*hex #f8f9fa*/

$color-background-statistics-te: #ADCC3E;
$color-background-statistics-pe: #E51A2B;
$color-background-statistics-de: #f3ed3d;
$color-background-statistics-ce: #0f5fe0;

$color-background-statistics-te-hover: #ADCC3E;
$color-background-statistics-pe-hover: #E51A2B;
$color-background-statistics-de-hover: #FFF700; /*hex F5EE0B*/
$color-background-statistics-ce-hover: #042d6e;

$font-primary: "Roboto", sans-serif;
$font-title-size: 1.4rem;
$font-menu-size: 0.9rem;
$font-subtitle-size: 1rem;
$font-subtitle-size-2: 0.75rem;
$font-label-size: 0.75rem;
$font-content-size: 0.875rem;
$font-error-size: 0.8rem;
$font-succes-size: 0.8rem;
$font-icon-user-size: 1.5rem;
$font-size-error-input: 0.8rem;
$font-size-message-error: 0.75rem;
$font-size-btn-small: 0.6rem;
$unid-calc-media-font: 0.5rem; //unidad de medidad para restar a la fuentes en media querys
$font-title-head-alert-size: 1.2rem;

$font-title-size-media: 1.2rem;
$breakpoints: (
    sm: 36rem,
    //telefonos 576px
    md: 48rem,
    //tables 640px
    lg: 62rem,
    //portatiles ~ 1024px
    xl: 75rem //  computador de escritorio pantalla grande 1440px,,,,,
) !default;

$g-gap: 0.5rem;
$height-login: 33rem;

$zindex-background: 1 !default;
$zindex-from-background: 100 !default;
$zindex-dropdown: 1000 !default;
$zindex-tooltip: 1050 !default;
$zindex-modal: 1070 !default;

$buttons: (
    p: primary,
    g: ghost,
);

$height-header: 10vh;
$height-main-content: 80vh;
$height-footer: 10vh;
$border-radius-div: 8px;
$height-bottom-bar: 3.8rem;

$total-column-grid: 12;
$calc-trian: 0;

$width-menu: 20vw;
