//desktop
.statistics {
    width: 100%;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.4em;
    }

    &__link-item {
        margin-bottom: 0.8em;
        border-bottom: 1px solid #adcc3e;
        display: inline-grid;
        grid-template-columns: 1fr 4fr 2fr;
        &--final {
            justify-self: end;
        }
    }

    &__links-item {
        display: block;
        width: 1em;
        height: 1em;
        margin-right: 0.4em;
    }

    &__graphic {
        position: relative;
        width: 35%;
        height: 35%;
    }
}

//table
@include media-max(md) {
    .statistics {
        &__content {
            flex-direction: column;
        }

        &__graphic {
            width: 70%;
            height: 70%;
            margin-bottom: 0.8rem;
        }
    }
}

//smartphone
@include media-max(sm) {
    .statistics {
        &__content {
            flex-direction: column;
        }

        &__graphic {
            width: 100%;
            height: 100%;
        }
    }
}
